.wrapper {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.wrapper-form {
    display: flex;
    flex-direction: row;
}

.wrapper .login-side {
    width: 50%;
    text-align: left;
    /* margin-left: 2rem; */
}

.wrapper .login-description {
    width: 50%;
}

.wrapper .login-side .login-site__header {
    font-size: 2rem;
}



.wrapper .login-side .login-side__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.login-side .form-submit {
    margin-top: 1rem;
}

.login-side__form .form-confirm {
    margin-top: 1.3rem;
}

.login-side__form .form-confirm span {
    font-style: italic;
}

.login-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-footer {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.login-footer .login-media {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-media__content {
    text-align: center;

}

.login-media__content span {
    margin-left: 0.3rem;
}

.login-media__content span i {
    margin-left: 0.2rem;
}

.login-footer .login-description__link {
    width: 50%;
}

.login-footer .login-description__link a {
    color: black;
    font-size: 1.2rem;
}